# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Dataset
data/genres_original/
data/*.zip

# Jupyter
.ipynb_checkpoints/

# Trained models
models/*.h5
models/*.keras
models/*.pth
models/*.pt

# Generated results
results/figures/
results/tables/

# Environment
.env